* {
  box-sizing: border-box;
}

body {
  background-color: rgb( 249, 250, 251 );
  color: rgba( 75, 85, 99 );
  margin: 0;
  padding: 0;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  color: #020223;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 2.25rem;
  margin: 0 0 0.75rem;
}

h2 {
  color: #020223;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 0.25rem;
}

footer {
  background-color: #020223;
  margin-bottom: 1.5rem;
}

footer nav {
  margin: 0 auto;
  padding: 0 2rem;
}

footer ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li + li {
  margin-left: 1.25rem;
}

footer a, footer a:visited {
  color: rgba( 55, 65, 81 );
}

main {
  margin: 0 auto;
  max-width: 32rem;
  padding: .75rem 2rem 4rem;
}

.title {
  background: linear-gradient(90deg, rgb(4, 5, 31) 0%, rgb(2, 3, 35) 100%);
  width: 100%;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.title h1 {
  color: #fcfcfc;
  font-size: 1.875rem;
  font-family: 'Raleway', sans-serif;
}

.author > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.author > ul > li {
  position: relative;
  padding-left: 0.75rem;
}

.author > ul > li::before {
  background: rgba( 55, 65, 81 );
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.25rem;
  position: absolute;
  margin-top: -0.125rem;
  top: 50%;
  left: 0.125rem;
  width: 0.25rem;
}

.author > ul > li + li {
  margin-top: 0.25rem;
}

.author > ul > li > a {
  font-size: 1rem;
}

.author img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.authors > div + div {
  margin-top: 2rem;
}

.authors > div img {
  border-radius: 50%;
}

.authors > div > p {
  font-size: 14px;
  margin: 4px 0;
}

.authors > div > a {
  display: block;
  font-size: 14px;
}

.post > div {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.post > div:last-of-type {
  display: block;
}

.post > div img {
  border-radius: 50%;
}

.post > div > div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.post > div > div > time {
  color: rgba( 75, 85, 99 );
  display: block;
  font-size: 0.75rem;
}

.post > div > div > strong {
  color: #020223;
  font-size: 0.75rem;
  font-weight: medium;
  margin-bottom: 0.125rem;
}

.post p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.post p + p {
  margin-top: 1.25rem;
}

.posts > article > a {
  font-size: 14px;
}

.posts > article > div {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
}

.posts > article > div img {
  border-radius: 50%;
}

.posts > article > div > div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.posts > article > div > div > time {
  color: rgba( 75, 85, 99 );
  display: block;
  font-size: 0.75rem;
}

.posts > article > div > div > strong {
  color: #020223;
  font-size: 0.75rem;
  font-weight: medium;
  margin-bottom: 0.125rem;
}

.posts > article > h2 {
  margin-bottom: 0.125rem;
}

.posts > article > p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0 0 0.5rem;
}

.posts > article > span {
  color: #020223;
  display: block;
  font-size: 0.75rem;
  margin: 0 0 0.5rem;
}

.posts > article + article {
  margin-top: 3rem;
}